body {
    font-family: Arial, Helvetica, sans-serif;
}
.card-1{
    border: solid lightgray 2px;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    text-align: left

}
.card-1 img{
    display: grid;
    text-align: right;
}
.card-2{
    border: solid lightgray 2px;
    display: grid;
    grid-row: 1;
    grid-column: 2;
}
.card-3{
    border: solid lightgray 2px;
    display: grid;
    grid-row: 2;
    grid-column: 1;
}
.card-4{
    border: solid lightgray 2px;
    display: grid;
    grid-row: 2;
    grid-column: 2;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
}
img{
 
}
